body {
    font-family: "Helvetica", "Arial", sans-serif;
    flex-shrink: 0;
    flex-grow: 1;
    padding: 40px;
    margin: 0 auto;
    max-width: 1024px;
    width: 100%;
}

header {
    text-align: center;
}

